
{% extends 'base.html' %}

{% block content %}
    
{% if id == current_user.id or current_user.is_admin %}
  
    <h1> Update User</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form action="{{url_for('users.update',id=id)}}" method="POST" enctype="multipart/form-data">
        {{form.hidden_tag() }}
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control", value=name_to_update.name)}}

          {{form.username.label(class="form-label")}}
        {{form.username(class="form-control", value=name_to_update.username)}}

        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control", value=name_to_update.email)}}

         {{form.favorite_pizza_place.label(class="form-label")}}
        {{form.favorite_pizza_place(class="form-control", value=name_to_update.favorite_pizza_place)}}
    </br>
     {{form.profile_pic.label(class="form-label")}}
        {{form.profile_pic(class="form-control", value=name_to_update.profile_pic)}}
        <br>

          {%for fieldName, errorMessages in form.errors.items():%}
          <p class="text-danger">There was an error with the {{fieldName}} field: 
            {% for message in errorMessages%}
            <br>
            {{message}}
           {% endfor %}
           </p>
        {%endfor%}

<br><br>
    {{form.submit(class="btn btn-secondary")}}
    
    <a class="btn btn-danger" href="{{url_for('users.delete',id=id)}}">Delete</a>

    </form>
    </div>
    {% else %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
        Sorry you can't access this user's account
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h2> Access Denied!</h2>
    {% endif %}
{% endblock %}

