h1 {
    color: darkcyan;
    font-size: 2em;
}

body {
    background: #f4f4f4;
}

#demo {
    font-size: 5em;
}

.profile-pic {
    border-radius: 50%;
}

.card-img-top {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.card_container {
    display: flex;
    flex-flow: column;
}

.info_container {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
}

.row {
    padding: 4em;
}

