{% extends 'base.html' %}

{% block content %}

<h1> What are ya thinking!!</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{form.hidden_tag() }}
        {{form.title.label(class="form-label")}}
        {% if form.title.errors %}
            {% for err in form.title.errors %}
                <span class="text-danger font-italic">{{err}}</span>
            {%endfor%}
        {% endif %}
        {{form.title(class="form-control")}}
        <br>

        {{form.slug.label(class="form-label")}}
        {% if form.slug.errors %}
            {% for err in form.slug.errors %}
                <span class="text-danger font-italic">{{err}}</span>
            {%endfor%}
        {% endif %}
        {{form.slug(class="form-control")}}
        <br>

        {{form.content.label(class="form-label")}}
        {% if form.content.errors %}
            {% for err in form.content.errors %}
                <span class="text-danger font-italic">{{err}}</span>
            {%endfor%}
        {% endif %}
        {{form.content(class="form-control", rows="5")}}
   
    </br>
    {{form.submit(class="btn btn-secondary")}}
    </form>
    

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
    </div>

{% endblock %}