{% extends 'base.html' %}

{% block content %}


  <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{form.hidden_tag() }}
        {{form.title.label(class="form-label")}}
        {{form.title(class="form-control")}}

        {{form.slug.label(class="form-label")}}
        {{form.slug(class="form-control")}}

        {{form.content.label(class="form-label")}}
        {{form.content(class="form-control", rows="5")}}

        {%for fieldName, errorMessages in form.errors.items():%}
          <p class="text-danger">There was an error with the {{fieldName}} field: 
            {% for message in errorMessages%}
            <br>
            {{message}}
           {% endfor %}
           </p>
        {%endfor%}
   
    </br>
    {{form.submit(class="btn btn-secondary")}}

    <a class='btn btn-outline-danger btn-small' href="{{url_for('posts.delete_post',id=post_id)}}">Delete post</a>
    </form>
      {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
    </div>
    <a class='btn btn-outline-secondary btn-small' href="{{url_for('posts.posts')}}">Back to all posts</a>

{% endblock %}