{% extends 'base.html' %}

{% block content %}

<div class="card_container">
<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
        <h2>{{post.title}}</h2> 

        {{post.content|safe}} </br> </br>
        <div class="info_container">
        {% if post.poster.profile_pic %}
          <img class='profile-pic card-img-top' align='left' width='100' src="{{url_for('static',filename='images/' + post.poster.profile_pic)}}">
           {%else %}
          <img class='profile-pic' align='left' width='100' src="{{url_for('static',filename='images/defaultProfilePic.jpeg')}}">
        {%endif%}
        <div class="poster-info">
           Posted by: {{post.poster.name}} </br>
        Posted on: {{post.date_posted.strftime("%a, %d %b, %Y")}}
        </div>
        </div>

        <br>
  </div>
  <div>
    {% if current_user.id == post.poster_id or current_user.is_admin %}
    <a class='btn btn-outline-secondary btn-small' href="{{url_for('posts.edit_post', post_id=post.id)}}">Edit Post</a>
    <a class='btn btn-outline-danger btn-small' href="{{url_for('posts.delete_post', post_id=post.id)}}">Delete Post</a>
    {%endif%}
    <a class='btn btn-outline-secondary btn-small' href="{{url_for('posts.posts')}}">Back to all posts</a>
    </div>
  </div>
{% endblock %}