{% extends 'base.html' %}

{% block content %}
    
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
   Hey! {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
   
{% endfor %}

<h1>Blog Posts</h1>
</br>

{% for post in posts %}
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <h2>{{post.title}}</h2> 

        Posted by: {{post.author}} </br>
        Posted on: {{post.date_posted}} </br> </br>

        {{post.content}} </br> </br>
        <a class='btn btn-outline-secondary btn-small' href="{{ url_for('post', id=post.id)}}">View Post</a>

    </div>


{%endfor%}

{% endblock %}