
{% extends 'base.html' %}

{% block content %}
    
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
   Hey {{name}}! {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
   
    {% endfor %}

    {% if email %}
    <h1>Email: {{ email }}!!</h1>
    <h1>Password: {{pw}}</h1>
    </br>
    <h2>I found this info:</h2>
    name: {{pw_to_check.name}}
    email: {{pw_to_check.email}}
    pw: {{pw_to_check.password_hash}}
    <br>
    Passed: {{passed}}
   


    {% else %}
    <h1> What's your email & password?</h1>
    <br/>
    <form method="POST">
        {{form.hidden_tag() }}
        {{form.email.label(class="form-label")}}
        {{form.email(class="form-control")}}

        {{form.pw.label(class="form-label")}}
        {{form.pw(class="form-control")}}
    </br>
    {{form.submit(class="btn btn-secondary")}}
    </form>


    {% endif %}

{% endblock %}

