<div class="list-group col-sm-3">
          <a href="{{url_for('general.dashboard')}}" class="list-group-item list-group-item-action">
            View User Profile
          </a>
          <a href="{{url_for('posts.posts')}}" class="list-group-item list-group-item-action">Feed</a>
          <a href="{{url_for('posts.add_post')}}" class="list-group-item list-group-item-action">Create new post</a>
          <a href="{{url_for('posts.my_posts')}}" class="list-group-item list-group-item-action">View my posts</a>
          {% if current_user.is_admin %}
          <a href="{{url_for('general.admin')}}" class="list-group-item list-group-item-action">Admin Portal</a>
          {% endif %}
</div>