
{% extends 'base.html' %}

{% block content %}
    
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
   Hey! {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
   
{% endfor %}


    <h1>Dashboard</h1>
    <br/>
    <p>You are Logged in!</p>
<div></div>

<div class="card">
  <div class="card-header">
    {{current_user.name}}
  </div>
  <div class="card-body">
    <h5 class="card-title">Welcome to your dashboard!</h5>
    <p class="card-text">
        <strong>Username: </strong> {{current_user.username}}</br>
        <strong>User ID:</strong>  {{current_user.id}} </br>
        <strong>email: </strong> {{current_user.email}}</br>
        <strong>Favorite Pizza Place: </strong> {{current_user.favorite_pizza_place}}  </br>
        <strong>Date Joined: </strong> {{current_user.date_added}}  </br>
    </p>
    <a class="btn btn-outline-danger" href="{{url_for('auth.logout')}}">Logout</a>
    <a class="btn btn-outline-secondary" href="{{url_for('users.update', id=current_user.id)}}">Update Profile </a> 
    <a class="btn btn-danger" href="{{url_for('users.delete',id=current_user.id)}}">Delete</a>
  </div>
</div>

<br><br>

{% endblock %}
