
{% extends 'base.html' %}

{% block content %}
    
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
   Hey! {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
   
{% endfor %}


    <h1>Dashboard</h1>
    <br/>
    <p>You are Logged in!</p>
<div></div>

<div class="card">
  <div class="card-header">
    {{current_user.name}}
  </div>
  <div class="card-body">
    <p class="card-text">
      <div class="container">
        <div class="row">
          <div class="col-8">
              <strong>Username: </strong> {{current_user.username}}</br>
              <strong>User ID:</strong>  {{current_user.id}} </br>
              <strong>email: </strong> {{current_user.email}}</br>
              <strong>Favorite Pizza Place: </strong> {{current_user.favorite_pizza_place}}  </br>
              <strong>Profile Pic: </strong> {{current_user.profile_pic}}  </br>
              <strong>Date Joined: </strong> {{current_user.date_added}}  </br>
              </p>
              <a class="btn btn-outline-danger" href="{{url_for('auth.logout')}}">Logout</a>
              <a class="btn btn-outline-secondary" href="{{url_for('users.update', id=current_user.id)}}">Update Profile </a> 
              <a class="btn btn-danger" href="{{url_for('users.delete',id=current_user.id)}}">Delete</a>
              <br><br>
            </div>
          <div class="col-4">
            {% if current_user.profile_pic %}
            <img class='profile-pic' align='right' width='150' src="{{url_for('static',filename='images/' + current_user.profile_pic)}}">
           
            {%else%}
                <img class='profile-pic' align='right' width='150' src="{{url_for('static',filename='images/defaultProfilePic.jpeg')}}">
            {%endif%}
            </div>
        </div>
        
      </div>
    


  </div>
</div>

<br><br>

{% endblock %}
