
{% extends 'base.html' %}

{% block content %}
    

    <h1> Log In</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{form.hidden_tag() }}

        {{form.username.label(class="form-label")}}
        {{form.username(class="form-control")}}

        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}

          {%for fieldName, errorMessages in form.errors.items():%}
          <p class="text-danger">There was an error with the {{fieldName}} field: 
            {% for message in errorMessages%}
            <br>
            {{message}}
           {% endfor %}
           </p>
        {%endfor%}

    </br>
    {{form.submit(class="btn btn-secondary")}}
    </form>
    </div>

{% endblock %}

