
{% extends 'base.html' %}

{% block content %}
    

    <h1> Log In</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{form.hidden_tag() }}

        {{form.username.label(class="form-label")}}
        {% if form.username.errors %}
            {% for err in form.username.errors %}
                <span class="text-danger font-italic">{{err}}</span>
            {%endfor%}
        {% endif %}
        {{form.username(class="form-control")}}
        <br>

        {{form.password.label(class="form-label")}}
        {% if form.password.errors %}
            {% for err in form.password.errors %}
                <span class="text-danger font-italic">{{err}}</span>
            {%endfor%}
        {% endif %}
        {{form.password(class="form-control")}}

    </br>
    {{form.submit(class="btn btn-secondary")}}
    </form>
    </div>

{% endblock %}

