
{% extends 'base.html' %}

{% block content %}
    

    <h1> Log In</h1>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <form method="POST">
        {{form.hidden_tag() }}

        {{form.username.label(class="form-label")}}
        {{form.username(class="form-control")}}

        {{form.password.label(class="form-label")}}
        {{form.password(class="form-control")}}

    </br>
    {{form.submit(class="btn btn-secondary")}}
    </form>
    </div>

{% endblock %}

